.footer {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    position: fixed;
    bottom: 0px;
    width: 94%;
    align-items: flex-end;
}

.footer a {
    margin: 5px;
}

.footer img {
    height: 40px;
}